<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Garage Manager</title>

    <link href="../../node_modules/bootswatch/dist/lux/bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/>
</head>
<body>

<!-- Page Content -->
<div class="container-fluid">

    <!-- Header Content -->
    <div class="row">
        <div class="col">
            <h1 class="my-5 text-center">Garage manager !</h1>
        </div>
    </div>

    <!-- Main Content -->
    <div class="row mb-5 col-7 mx-auto">

            <h4 class="text-center">les voitures de mon garage <i class="fas fa-car"></i></h4>
            <button id="add-car" class="btn btn-primary btn-lg btn-block">Ajouter !</button>
            <table class="table table-borderless ">
                <thead class="table-dark">
                <tr>
                    <th class="col-2" scope="col">#</th>
                    <th class="col-3" scope="col">Marque</th>
                    <th class="col-3" scope="col">Modèle</th>
                    <th class="col-4" scope="col" hidden>Actions</th>
                </tr>
                </thead>
                <tbody id="cars-table">

                </tbody>
            </table>

    </div>


</div>
<script>
    window.controllers.loadController('home')
</script>

</body>
</html>